.App {
    
}

.user_table {
    width: 100%;
    margin-top: 20px;
  }
  
  .user_table th,
  .user_table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
  }
  
  .user_table th {
    background-color: #f2f2f2;
  }
  
  